# General
venv
.env
.DS_Store
__pycache__/
/logs
*.ipynb_checkpoints
logs.txt

# Project - Stablecoins
projects/stablecoins/data

# Project - Barcelona
# Ignore everything in these directories except the .gitkeep file
projects/barcelona/data/input/*
projects/barcelona/data/output/*
!projects/barcelona/data/input/.gitkeep
!projects/barcelona/data/output/.gitkeep
