# General
.env
.DS_Store
__pycache__/
/logs
*.ipynb_checkpoints
logs.txt

# Environments
venv
vtensorflow

# projects - stablecoins
projects/stablecoins/data

# projects - kaggle
*leaked*
*submission*
projects/kaggle/03_store_sales/data/train.csv

# Project - Barcelona
# Ignore everything in these directories except the .gitkeep file
projects/barcelona/data/input/*
projects/barcelona/data/output/*
!projects/barcelona/data/input/.gitkeep
!projects/barcelona/data/output/.gitkeep

# v2
src/01_python/v2/08_deep_learning/filez_cats_dogs

# Tableau (temporary files)
.~*.twbr
src/02_tableau/v1/04_join_blend/data/P1-Brazilian-E-Commerce-Dataset
